<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TX_ESC_04SessionRememberV2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <appSettings>
    <add key="interval" value="900000" />
    <add key="threadsno" value="1" />
    <add key="smtp_server" value="R04HOUERS01A.regioniv.esc4.net" />
    <add key="database.activeserver" value="dev"/>
    <add key="jobfairEventTypeID" value="5017"/>
    <add key="onlineTypeID" value="2237"/>
    <add key="DBconnection" value="server=r04housql07a.regioniv.esc4.net\escdb;Database=tx_esc_04;Trusted_Connection=yes;"/>
    <add key="DBconnection_DEV" value="server=r04housql82a.regioniv.esc4.net\escdb;Database=tx_esc_04;Trusted_Connection=yes;"/>
    <add key="DBconnection_EUT" value="server=r04housql42a.regioniv.esc4.net\escdb;Database=tx_esc_04;Trusted_Connection=yes;"/>
  </appSettings>
    <applicationSettings>
        <TX_ESC_04SessionRememberV2.Properties.Settings>
            <setting name="TX_ESC_04SessionRememberV2_ServerConnection_ConnectionService"
                serializeAs="String">
                <value>http://www.escweb.net/services/connectionprovider/connectionservice.asmx</value>
            </setting>
        </TX_ESC_04SessionRememberV2.Properties.Settings>
    </applicationSettings>
</configuration>